{% extends 'base.html' %}


{% block extra_style %}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        color: green;
    }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius:20px;
        width:15%;
      }
      .button:hover {
        background-color: crimson;
        color: white;
      }
</style>
{% endblock %}

{% block content %}

<div class='center'>
<form method='post' action="{% url 'postquery' %}" enctype="multipart/form-data">
    {% csrf_token %}
{{form.as_table}}

<input class="button" type="submit">
</form>
</div>

{% endblock %}